/* ------------------------- Background-colors dark ----------------------------- */
$dark-navbar-background-color: #0d1110;
$dark-main-background-color: #101615;
$dark-card-background-color: #0a0f0e;
$dark-button-background-color: #273030;

/* ------------------------- Dark Colors ----------------------------- */
$dark-header-paragraph-color: #000000 !important;
$dark-navbar-color: rgb(215, 215, 215);

/* --------------------------------------------------------------------------------------------------- */

/* ------------------------- Background-colors light ----------------------------- */
// Light theme colors
$light-main-background-color: #e0ffe0; /* Light green color for main background */
$light-navbar-background-color: #c0ffc0; /* Darker green color for navbar background */
$light-card-background-color: #dbffdb; /* Light green color for card background */
$light-button-background-color: #f0fff0; /* Light green color for button background */

/* ------------------------- Light Colors ----------------------------- */
$light-header-paragraph-color: #e9e9e9 !important;
$light-navbar-color: rgb(40, 40, 40);

/* ------------------------- Main Color ----------------------------- */
$main-color: #009000;

/* ------------------------- Fonts ----------------------------- */
$titleFont: "Montserrat" !important;
$textFont: "Oswald", sans-serif !important;
