/* -------------------------------------- Imports ---------------------------------------------- */
@import "main.scss";

/* ------------------------- Custom headers/paragraphs ----------------------------- */
@mixin main-header {
  font-size: 2rem;
  font-family: $titleFont;
  font-weight: 700;
  color: $dark-header-paragraph-color;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 2.2rem;
    color: $dark-header-paragraph-color;
  }

  @media (min-width: 1024px) {
    font-size: 2.9rem;
    color: $dark-header-paragraph-color;
  }

  @media (min-width: 1200px) {
    font-size: 3.4rem;
    color: $dark-header-paragraph-color;
  }
}

@mixin secondary-header {
  font-size: 1.5rem;
  font-family: $titleFont;
  font-weight: 700;
  color: $dark-header-paragraph-color;

  @media (min-width: 768px) {
    font-size: 1.7rem;
    color: $dark-header-paragraph-color;
  }

  @media (min-width: 1024px) {
    font-size: 1.9rem;
    color: $dark-header-paragraph-color;
  }

  @media (min-width: 1200px) {
    font-size: 2.4rem;
    color: $dark-header-paragraph-color;
  }
}

@mixin third-header {
  font-size: 1.2rem;
  font-family: $titleFont;
  font-weight: 700;
  color: $dark-header-paragraph-color;

  @media (min-width: 768px) {
    font-size: 1.4rem;
    color: $dark-header-paragraph-color;
  }

  @media (min-width: 1024px) {
    font-size: 1.6rem;
    color: $dark-header-paragraph-color;
  }

  @media (min-width: 1200px) {
    font-size: 2.1rem;
    color: $dark-header-paragraph-color;
  }
}

@mixin paragraph {
  font-size: 1rem;
  font-family: $textFont;
  color: $dark-header-paragraph-color;

  @media (min-width: 768px) {
    font-size: 1.1rem;
    color: $dark-header-paragraph-color;
  }

  @media (min-width: 1024px) {
    font-size: 1.2rem;
    color: $dark-header-paragraph-color;
  }

  @media (min-width: 1200px) {
    font-size: 1.4rem;
    color: $dark-header-paragraph-color;
  }
}

@mixin span {
  font-size: 0.85rem;
  font-family: $textFont;
  color: $dark-header-paragraph-color;

  @media (min-width: 768px) {
    font-size: 1.05rem;
    color: $dark-header-paragraph-color;
  }

  @media (min-width: 1024px) {
    font-size: 1.25rem;
    color: $dark-header-paragraph-color;
  }

  @media (min-width: 1200px) {
    font-size: 1.35rem;
    color: $dark-header-paragraph-color;
  }
}

@mixin custom-scroll-bar() {
  &::-webkit-scrollbar {
    border-radius: 10px;
    height: 10px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

@mixin no-scroll-bar() {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track {
    height: 0;
    width: 0;
  }
}
